### Data Type Conversion
- Sometimes, you may need to perform conversions between the built-in types.
- To convert between types, you simply use the type name as a function.
-  There are several built-in functions to perform conversion from one data type to another.
- The process of converting the value of one data type (integer, string, float, etc.) to another data type is called type conversion.
#### Python has two types of type conversion.
- a. Implicit Type Conversion
- b. Explicit Type Conversion

#### Implicit Type Conversion:
- In Implicit type conversion, Python automatically converts one data type to another data type. This process doesn't need any user involvement.

In [2]:
num_int = 123
num_flo = 1.0
num_new = num_int + num_flo # impliclict conversion from int to float
print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))
print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 124.0
datatype of num_new: <class 'float'>

#### Explicit Type Conversion:
- In Explicit Type Conversion, users convert the data type of an object to required data type. We use the predefined functions like int(), str(),etc to perform the explicit type conversion.
- This type conversion is also called typecasting because the user casts (change) the data type of the objects
- Syntax: required_datatype(expression)

In [4]:
num_int = 123
num_str = "456"  # data sholud look like int format
print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))
#num_str = int(num_str) # Explicit Type conversion/casts from str to int using int()
num_int=str(num_int)
print("Data type of num_str after Type Casting:",type(num_str))
num_sum = num_int + num_str # int addition                                        #str concatenation 
print("Sum of num_int and num_str:",num_sum)
print("Data type of the sum:",type(num_sum))

Data type of num_int: <class 'int'>
Data type of num_str before Type Casting: <class 'str'>
Data type of num_str after Type Casting: <class 'str'>
Sum of num_int and num_str: 123456
Data type of the sum: <class 'str'>

### Function & Description
 - int(x [,base]) Converts x to an integer. base specifies the base if x is a string.
- long(x [,base] ) Converts x to a long integer. base specifies the base if x is a string.
- float(x) Converts x to a floating-point number.
- complex(real [,imag]) Creates a complex number.
- str(x) Converts object x to a string representation.
- repr(x) Converts object x to an expression string.
- eval(str) Evaluates a string and returns an object.
- tuple(s) Converts s to a tuple.
- list(s) Converts s to a list.
- set(s) Converts s to a set.
- dict(d) Creates a dictionary. d must be a sequence of (key,value) tuples.
- frozenset(s) Converts s to a frozen set.
- chr(x) Converts an integer to a character.
- unichr(x) Converts an integer to a Unicode character.
- ord(x) Converts a single character to its integer value.
- hex(x) Converts an integer to a hexadecimal string.
- oct(x) Converts an integer to an octal string.

In [6]:
print(int("1000",2)) # int convert with base 2
print(int("1000")# default base 10

1000

In [9]:
print(float("123"))

123.0

In [11]:
print(complex("23"))

(23+0j)

In [15]:
list1=[23,44545.657,687]
l1=tuple(list1)
print(type(l1))

<class 'tuple'>

In [17]:
tup1=(1,2,4,"a")
ct1= list(tup1)
print(ct1)
print(type(ct1))

[1, 2, 4, 'a']
<class 'list'>

In [19]:
x=dict(name="karthik",age=35,Dept="cse") # Keword argument
print(x)
print(type(x))

{'name': 'karthik', 'age': 35, 'Dept': 'cse'}
<class 'dict'>

In [20]:
set1={1,3,45}
print(frozenset(set1))

frozenset({1, 3, 45})

In [23]:
number = 9
b=2
# eval performs the multiplication passed as argument
square_number = eval("(number * number)/2")
print(square_number)

TypeError: exec() arg 1 must be a string, bytes or code object

In [26]:
print(chr(97))
print(ord('a'))

a
97