<a href="https://colab.research.google.com/github/svkarthik86/Python-Basics/blob/main/Data_Type_Conversion_ipynb_txt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Data Type Conversion
- Sometimes, you may need to perform conversions between the built-in types.
- To convert between types, you simply use the type name as a function.
-  There are several built-in functions to perform conversion from one data type to another.
- The process of converting the value of one data type (integer, string, float, etc.) to another data type is called type conversion.
#### Python has two types of type conversion.
- a. Implicit Type Conversion
- b. Explicit Type Conversion

#### Implicit Type Conversion:
- In Implicit type conversion, Python automatically converts one data type to another data type. This process doesn't need any user involvement.

In [3]:
print(type(12+10.0))

<class 'float'>

In [4]:
num_int = 123
num_flo = 1.0
num_new = num_int + num_flo # impliclict conversion from int to float
print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))
print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>
Value of num_new: 124.0
datatype of num_new: <class 'float'>

#### Explicit Type Conversion:
- In Explicit Type Conversion, users convert the data type of an object to required data type. We use the predefined functions like int(), str(),etc to perform the explicit type conversion.
- This type conversion is also called typecasting because the user casts (change) the data type of the objects
- Syntax: required_datatype(expression)

Str to int

In [17]:
age=int(input("what is your age?"))  # int() typecast from str to int

what is your age?40

In [15]:
print(type(age))

<class 'int'>

In [18]:
age+2

42

In [20]:
x=int("534")

In [21]:
type(x)

int

float to int

In [22]:
int(56.45)

56

float to int

In [24]:
float(189)

189.0

str to float

In [28]:
float("345.45")

345.45

Str to List

In [31]:
l1=list("python")
l1

['p', 'y', 't', 'h', 'o', 'n']

list to str

In [32]:
str(l1)

"['p', 'y', 't', 'h', 'o', 'n']"

tuple to list

In [33]:
list(("a","b",1,2,3))

['a', 'b', 1, 2, 3]

list to tuple

In [34]:
tuple([1,2,3,67.8,"chennai"])

(1, 2, 3, 67.8, 'chennai')

Str to Tuple

In [35]:
tuple("java")

('j', 'a', 'v', 'a')

List of tuple pair  to dict

In [47]:
dict([(1,2),(3,4),("jan",1)])

{1: 2, 3: 4, 'jan': 1}

In [39]:
dict({1:2})

{1: 2}

dict to set

In [37]:
set({1:"a",2:"b"})

{1, 2}

Str to Set

In [40]:
set("python")

{'h', 'n', 'o', 'p', 't', 'y'}

Str to frozenset

In [41]:
frozenset("programming")

frozenset({'a', 'g', 'i', 'm', 'n', 'o', 'p', 'r'})

In [43]:
num_int = 123
num_str = "456"  # data sholud look like int format
print("Data type of num_int:",type(num_int))
print("Data type of num_str before Type Casting:",type(num_str))
#num_str = int(num_str) # Explicit Type conversion/casts from str to int using int()
num_int=str(num_int)
print("Data type of num_str after Type Casting:",type(num_str))
num_sum = num_int + num_str # int addition                                        #str concatenation 
print("Sum of num_int and num_str:",num_sum)
print("Data type of the sum:",type(num_sum))

Data type of num_int: <class 'int'>
Data type of num_str before Type Casting: <class 'str'>
Data type of num_str after Type Casting: <class 'str'>
Sum of num_int and num_str: 123456
Data type of the sum: <class 'str'>

### Function & Description
 - int(x [,base]) Converts x to an integer. base specifies the base if x is a string.
- long(x [,base] ) Converts x to a long integer. base specifies the base if x is a string.
- float(x) Converts x to a floating-point number.
- complex(real [,imag]) Creates a complex number.
- str(x) Converts object x to a string representation.
- repr(x) Converts object x to an expression string.
- eval(str) Evaluates a string and returns an object.
- tuple(s) Converts s to a tuple.
- list(s) Converts s to a list.
- set(s) Converts s to a set.
- dict(d) Creates a dictionary. d must be a sequence of (key,value) tuples.
- frozenset(s) Converts s to a frozen set.
- chr(x) Converts an integer to a character.
- unichr(x) Converts an integer to a Unicode character.
- ord(x) Converts a single character to its integer value.
- hex(x) Converts an integer to a hexadecimal string.
- oct(x) Converts an integer to an octal string.

In [50]:
print(int("1000",2)) # int convert with base 2
print(int("1000"))# default base 10

8
1000

In [ ]:
print(float("123"))

123.0

In [54]:
print(complex("23"))

(23+0j)

In [57]:
list1=[23,44545.657,687]
l1=tuple(list1)
print(l1)
print(type(l1))

(23, 44545.657, 687)
<class 'tuple'>

In [ ]:
tup1=(1,2,4,"a")
ct1= list(tup1)
print(ct1)
print(type(ct1))

[1, 2, 4, 'a']
<class 'list'>

In [58]:
x=dict(name="karthik",age=35,Dept="cse") # Keword argument
print(x)
print(type(x))

{'name': 'karthik', 'age': 35, 'Dept': 'cse'}
<class 'dict'>

In [ ]:
set1={1,3,45}
print(frozenset(set1))

frozenset({1, 3, 45})

In [60]:
number = 9
b=2
# eval performs the multiplication passed as argument
square_number = eval("(number * number)/b")
print(square_number)

40.5

In [61]:
print(chr(97))
print(ord('a'))

a
97