<a href="https://colab.research.google.com/github/svkarthik86/Python-Basics/blob/main/DecisionMaking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### DECISION MAKING STATEMENTS
#### Python supports various decision-making statements. These are:
- 1. if statements
- 2. if-else statements
- 3. Nested if statements
- 4. Multi-way if-elif-else statements

### if statements

- The if statement executes a statement if a condition is true
- ![image.png](attachment:5f8b0edb-77e1-4e39-a076-2968889cd1ef.png)
- ![image.png](attachment:371757ce-31cd-4e6e-9aff-912e88b03418.png)

In [ ]:
num=int(input("enter the number"))
if num%2==0:
    print("The number is Even")
else:
    print("The number is Odd")
    
    
print("program completed")

enter the number24
The number is Even
program completed

##### Points to Remember
- (a) The statement(s) must be indented at least one space right of the if statement.
- (b) In case there is more than one statement after the if condition, then each statement must be indented using the same number of spaces to avoid indentation errors.
- The statement(s) within the if block are executed if the Boolean expression evaluates to true.

In [ ]:
#Write a program that prompts a user to enter two integer values. 
#Print the message ‘Equals’ if both the entered values are equal.
num1=int(input("Enter First Number: "))
num2=eval(input("Enter Second Number: "))
print(type(num1))
if num1-num2==0: 
    print("Both the numbers entered are Equal")
else:
    print("Both are different Value")

Enter First Number: 63
Enter Second Number: 52
<class 'int'>
Both are different Value

In [ ]:
c1=eval(input("enter expression"))
c1

enter expression23+45

68

In [ ]:
c2=int(input("Enter "))
c2

Enter 23+45

ValueError: invalid literal for int() with base 10: '23+45'

In [ ]:
# Write a program which prompts a user to enter the radius of a circle.
#If the radius is greater than zero then calculate and print the area and circumference of the circle.
from math import pi
Radius=eval(input("Enter Radius of Circle: "))
if Radius>0:
    Area=(Radius**2)*pi
    print(" Area of Circle is = ",format(Area,".3f"))
    Circumference=2*pi*Radius
    print("Circumference of Circle is = ",format(Circumference,".5f"))
else:
     print("r value is less than zero")

Enter Radius of Circle: 5
 Area of Circle is =  78.540
Circumference of Circle is =  31.41593

### The if-else Statement
- The if-else statement takes care of a true as well a false condition

- ![image.png](attachment:edd1657d-181c-483b-85bf-e9e8966e9c51.png)

- ![image.png](attachment:4d816b41-0e8f-4fe0-bf79-b1f45ecf2443.png)

In [ ]:
num1=int(input("Enter the First Number:"))
num2=int(input("Enter the Second Number:"))
if num1>num2:
    print(num1,"is greater than ",num2)
else:
    print(num2,"is greater than ",num1)

Enter the First Number:5
Enter the Second Number:9
9 is greater than  5

#### Exercise:
![image.png](attachment:e5269c72-9c35-4aef-b035-b92b589f446a.png)

In [ ]:
#method 1
sales=int(input("enter sales amount: "))
if sales>=100000:
    basic = 4000
    hra = 20  # % of basic
    da = 110  # % of basic
    conveyance = 500
    incentive = 10  # % of sale
    bonus = 1000

    hra = (basic * hra / 100)
    da = (basic * da / 100)
    incentive = (sales * incentive / 100)
    salary = basic + hra + da + conveyance + bonus + incentive
    print("c1",salary)

else:
    basic = 4000
    hra = 10  # % of basic
    da = 110  # % of basic
    conveyance = 500
    incentive = 4  # % of basic
    bonus = 500

    hra = (basic * hra / 100)
    da = (basic * da / 100)
    incentive = (sales * incentive / 100)
    salary = basic + hra + da + conveyance + bonus + incentive
    print("c2",salary)

enter sales amount:  50000

c2 11800.0

In [ ]:
#method 2
print("SALARY PROGRAM")
name = str(input("Enter name of employee:"))
sales = float(input("Enter your sales value: "))
print(" NAME OF EMPLOYEE : ",name)
basic = 4000
da = float(basic * 1.1)
hra = float(basic * 0.2)
con = 500
inc = float(sales * 0.1)
bonus = 1000
salary1 = (basic + da+ hra + con + inc + bonus)
basic1 = 4000
da1 = float(basic * 1.1)
hra1 = float(basic * 0.1)
con1 = 500
inc1 = float(sales * 0.04)
bonus1 = 500
salary2 = (basic1 + da1 + hra1 + con1 + inc1 + bonus1)

if sales > 100000:
    print(salary1)
else:
    print(salary2)

SALARY PROGRAM

Enter name of employee: karthik

Enter your sales value:  50000

 NAME OF EMPLOYEE :  karthik

11800.0

In [ ]:
#method 3
sales=float(input("enter the sales:-"))
if sales>=100000:
    basic = 4000
    hra = 20* basic/100
    da = 110* basic/100
    incentive = sales *10/100
    bonus = 1000
    canveyenace = 500
else:
    basic = 4000
    hra = 10* basic/100
    da = 110* basic/100
    incentive = sales *4/100
    bonus = 500
    canveyenace = 500

salary= basic+hra+da+incentive+bonus+canveyenace
print("salary of employee")
print("total sales-",sales)
print("basic-",basic)
print("hra-",hra)
print("da-",da)
print("incentive-",incentive)
print("bonus-",bonus)
print("conveyance-",canveyenace)
print("Salary-",salary)

enter the sales:- 50000

salary of employee

total sales- 50000.0

basic- 4000

hra- 400.0

da- 4400.0

incentive- 2000.0

bonus- 500

conveyance- 500

Salary- 11800.0

### Nested if statements
```python 
if Boolean-expression1:
    if Boolean-expression2:
         statement1
    else:
        statement2
else:
       statement3
```

In [ ]:
#Nested if Example
x = int(input("enter a integer value: = "))
if x > 0:  #if condition
    print("its a positive number")
    if x % 2 == 0:  #nested if 
        print("its a even number")
    else:     #else condition
        print("this is a odd number")
else:
       print("its a negative integer")

enter a integer value: = -8
its a negative integer

In [ ]:
#Write a program to read three numbers from a user and check if the first number is greater or
#less than the other two numbers.
num1=int(input("Enter the number:"))
num2=int(input("Enter the number:"))
num3=int(input("Enter the number:"))
if num1>num2:
    if num2>num3:
        print(num1,"is greater than ",num2,"and ",num3)
else:
    print(num1," is less than ",num2,"and",num3)
print("End of Nested if")

Enter the number:14
Enter the number:25
Enter the number:63
14  is less than  25 and 63
End of Nested if

### Elif

In [ ]:
if False:
    print("if true")
elif False:
    print("elif True")
else:
    print("neither true")

neither true

In [ ]:
Example:

In [ ]:
std_mark=int(input("enter The mark"))
if std_mark >100 or std_mark<0:
    print("The mark is Invalid,Please enter Valid Mark")
elif std_mark>=80:
    print("Outstanding Student")
else:
    print("Not Outstanding Student")

enter The mark600
The mark is Invalid,Please enter Valid Mark

In [ ]:
# switch...case is not in python # if.. elif....

In [ ]:
a=10
b=20
x=input("enter X value ")
if x=='add':
    print(a+b)
elif x=='mul':
    print(a*b)
elif x=='div':
    print(a/b)
elif x=='mod':
    print(a%b)
else:
    print("Invalid Input")

enter X valuemul
200

In [ ]:
a = 3
b = 3
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
    print("a is greater")

a and b are equal

In [ ]:
### Else
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

### Short Hand If

In [ ]:
a = 2
b = 3
print("A") if a > b else print("B")

B

In [ ]:
age=int(input("Enter Your age:"))
print("Adult") if age>18 else print("Young")

Enter Your age:15
Young

In [ ]:
if age>18:
    print("Adult")
else:
    print("young")

young

In [ ]:
a = 3
b = 330
print("A") if a > b else print("=") if a == b else print("B")

B

### using and, or

In [ ]:
# and 
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [ ]:
# or
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [ ]:
The pass Statement

In [ ]:
a = 33
b = 200

if b > a:
  pass

#### Multi-way if-elif-else Statements
```python
if Boolean-expression1:
            statement1
    elif Boolean-expression2 :
            statement2
    elif Boolean-expression3 :
            statement3
- - - - - - - - - - - - - -
- - - - - - - - - - - -- -
elif Boolean-expression n :
statement N
else :
Statement(s)
```

- ![image.png](attachment:427c88e5-856b-43a4-a74a-aed29a69a00d.png)

In [ ]:
# method1
Subject1=float(input("Enter the Marks of Data-Structure:"))
Subject2=float(input("Enter the Marks of Python:"))
Subject3=float(input("Enter the Marks of Java:"))
Subject4=float(input("Enter the Marks of C Programming:"))
Subject5=float(input("Enter the Marks of HTML:"))
sum=Subject1+Subject1+Subject3+Subject4+Subject5
per=sum/5
print("Total Marks Obtained", sum, "Out of 500")
print("Percentage = ",per)
if per>=90:
    print("Distinction")
else:
    if per>=80:
        print(" First Class")
    else:
        if per>=70:
             print("Second Class")
        else:
            if per>=60:
                print("Pass")
            else:
                print("Fail")

Enter the Marks of Data-Structure: 80

Enter the Marks of Python: 90

Enter the Marks of Java: 90

Enter the Marks of C Programming: 90

Enter the Marks of HTML: 90

Total Marks Obtained 430.0 Out of 500

Percentage =  86.0

 First Class

In [ ]:
#method2
Subject1=float(input("Enter the Marks of Data-Structure:"))
Subject2=float(input("Enter the Marks of Python:"))
Subject3=float(input("Enter the Marks of Java:"))
Subject4=float(input("Enter the Marks of C Programming:"))
Subject5=float(input("Enter the Marks of HTML:"))
sum=Subject1+Subject1+Subject3+Subject4+Subject5
per=sum/5
print("Total Marks Obtained", sum, "Out of 500")
print("Percentage = ",per)
if per>=90:
    print("Distinction")
elif per>=80:
    print(" First Class")
elif per>=70:
    print("Second Class")
elif per>=60:
    print("Pass")
else:
    print("Fail")

Enter the Marks of Data-Structure: 90

Enter the Marks of Python: 90

Enter the Marks of Java: 90

Enter the Marks of C Programming: 90

Enter the Marks of HTML: 90

Total Marks Obtained 450.0 Out of 500

Percentage =  90.0

Distinction

In [ ]:
if True:
    print("HI")

HI

In [ ]:
if None:
    print("hell0")

In [ ]:
print(type(None))

<class 'NoneType'>

In [ ]:
if '':
    print("hell0")

In [ ]:
# membership operator as condition

In [ ]:
list1=[10,20,30,40]
if 30  in list1:
    print("Element is present")

Element is present

In [ ]:
#identity operator as condition

In [ ]:
a=(0,'1',2,1) 
b=('0',1,'2','1') 
if a[3] is b[1]:
    print("Same Reference")

Same Reference