<a href="https://colab.research.google.com/github/svkarthik86/Python-Basics/blob/main/Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

----------------------------------------------------------------------------------------- 5.1.2022
- Today Topics:
    - Loop 
     -while,for loop,nested loop  (break,continue,pass,enumerate,range,Xrange)
    - function
        - Buit-in function, user-defined function
-

### THE while LOOP
- The while loop executes a sequence of statements repeatedly as long as a condition remains true. 
- The syntax:
```python 
while test-condition:
        #Loop Body
        statement(s)
````
- The reserved keyword while begins with the while statement. 
- The test condition is a Boolean expression. 
- The colon (:) must follow the test condition, i.e. the while statement be terminated with a colon (:). 
- The statement(s) within the while loop will be executed till the condition is true, i.e. the condition is evaluated and if the condition is true then the body of the loop is executed. When the condition is false, the execution will be completed out of the loop or in other words, the control goes out of the loop.

##### Flowchart for while Loop
![image.png](attachment:945e39b2-9b38-4ed5-8af8-d29fc991eafa.png)

In [ ]:
#Write a program to print the numbers from one to five using the while loop.
count=1 #initialize the counter
while count<=5: # Test condition
    print("Count = ",count) # print the value of count
    count=count+1 # Increment the value of count by 1

Count =  1
Count =  2
Count =  3
Count =  4
Count =  5

In [1]:
#Write a program to fi nd the sum of the digits of a given number.
#For example, if a user enters 123. The program should return (3+2+1), i.e. 6 as the sum of all the digits in a number.
num=int(input("Please Enter the number:"))#Read Number from User
x=num #Assign value of num to x
sum=0
rem=0
while num>0:
    rem=num % 10
    num=num // 10
    sum=sum + rem
print("Sum of the digits of an entered number ",x,"is = ",sum)

Please Enter the number:456
Sum of the digits of an entered number  456 is =  15

In [ ]:
#Write a program to display the reverse of the number entered.
#For example, if a user enters 12345. The program should return (54321), i.e. the reverse of the number entered.
num =int(input("Please Enter the number: "))
x=num
rev=0
while num>0:
    rem=num % 10
    num=num // 10
    rev=rev*10+rem
print("Reverse of a entered number ",x," is = ",rev)

In [ ]:
i=0
while i<5:
    print(i,end='\t')
    i=i+1

### The break Statement in While loop
- break statement stop the loop even if the while condition is true

In [ ]:
# Exit the loop when count is 5:
count = 1
while count < 10:
  print(count)
  if count == 6:
        break   # break exit from loop  
  count+= 1

In [ ]:
# Do while is not in python , but can be achived using while True:

In [ ]:
c=1
while True:
    print(c)
    if c==5:
        break
    c=c+1

In [ ]:
i = 1  
while True:  
   print(i) 
   i = i + 1  
   if(i > 5):  
        break

### The continue Statement in While loop
- continue statement stop the current iteration, and continue with the next

In [ ]:
# Continue to the next iteration if i is 5:
count = 0
while count < 10:
      count += 1
      if count == 8:
            continue #stop the current iteration and continue
      print(count)

1
2
3
4
5
6
7
9
10

### The else Statement
- else statement, run a block of code once when the condition no longer is true:

In [ ]:
#Print a message once the condition is false:
count = 1
while count < 10:
  print(count)
  count += 1
else:
  print("count is no longer less than 10")

1
2
3
4
5
6
7
8
9
count is no longer less than 10

#### The pass Statement 

- The pass statement in Python is used when a statement is required syntactically but you do not want any command or code to execute.
- The pass statement is a null operation; nothing happens when it executes. The pass is also useful in places where your code will eventually go, but has not been written yet.

In [ ]:
for letter in 'Python': 
   if letter == 'h':
      pass
      
   print('Current Letter :', letter)

print("Good bye!")

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : h
Current Letter : o
Current Letter : n
Good bye!

In [ ]:
def test():
    pass

### Nested while Loop in Python

In [ ]:
while expression:
   while expression:
      statement(s)
   statement(s)

In [ ]:
i = 1 # outer loop variable 
while i <= 10:
    j = 1   # inner loop variable
    while j <= 10:  # inner while loop
        print(j, end=' ')
        j = j + 1
    i = i + 1
    print()

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

In [ ]:
str1="EduBridge"
for s in str1:
     print(s, end="")

### THE for LOOP

- for loop iterates through a sequence of objects, i.e. it iterates through each value in a sequence, where the sequence of object holds multiple items of data stored one after another.
- The syntax:
```python 
for var in sequence:
        statement(s)
        ------------
        ------------
        ------------
```

![image.png](attachment:51438e5c-0a62-4928-a5d2-8357afbb2969.png)

### String

In [ ]:
# string sequence data
for ch in 'Python':     # First Example
   print ('Current Letter :', ch)

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : h
Current Letter : o
Current Letter : n

In [ ]:
name="EduBridge"
for x in name:
        print(x , end=' ')

E d u B r i d g e

### List

In [ ]:
# List sequence data
fruits = ['banana', 'apple',  'mango']
for f in fruits:        # Second Example
   print ('Current fruit :', f)

Current fruit : banana
Current fruit : apple
Current fruit : mango

### Tuple

In [ ]:
fruits=('orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana')
for fruit in fruits: 
    print(fruit,end="\t")

orange	apple	pear	banana	kiwi	apple	banana

### Dictionary

In [ ]:
# Dcit - Mapping Data 
#When looping through a dictionary, the return value are the keys of the dictionary
car_dict ={"brand": "Ford","model": "Mustang","year": 1964}
for k in car_dict:  # 
  print(k)

brand
model
year

In [ ]:
car_dict ={"brand": "Ford","model": "Mustang","year": 1964}
for key in car_dict:  
  print(key,car_dict[key])  # using dict key index to print value

brand Ford
model Mustang
year 1964

In [ ]:
car_dict ={"brand": "Ford","model": "Mustang","year": 1964}
#print(car_dict.values()) # value
#print(car_dict.keys()) # key
print(car_dict.items()) # both key and value

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [ ]:
#values() function to return values of a dictionary
car_dict ={"brand": "Ford","model": "Mustang","year": 1964}
for value in car_dict.values():  # values() return the value of dict
  print(value)

Ford
Mustang
1964

In [ ]:
car_dict ={"brand": "Ford","model": "Mustang","year": 1964}
for k in car_dict.values():
    print(k)

Ford
Mustang
1964

In [ ]:
car_dict.values()

In [ ]:
car_dict.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [ ]:
#Loop through both keys and values, by using the items() function
car_dict ={"brand": "Ford","model": "Mustang","year": 1964}
for x,y in car_dict.items():  # items() return the key and value of dict
  print(x,y)

brand Ford
model Mustang
year 1964

### SET

In [ ]:
set_data={'i', 'E', 'g', 'u', 'e', 'r', 'd', 'B'}
for set_val in set_data:
    print(set_val,end=" ")

d e i r g u E B

In [ ]:
set_data=frozenset({'i', 'E', 'g', 'u', 'e', 'r', 'd', 'B'})
for set_val in set_data:
    print(set_val,end=" ")

d e i r g u E B

In [ ]:
print(list(range(1,11)))

### Break, continue, pass - for loop

In [ ]:
fruits=['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
for f in fruits:
    if f=="kiwi":
        break
    print(f)

In [ ]:
fruits=['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
for f in fruits:
    if f=="kiwi":
        continue
    print(f)

In [ ]:
fruits=['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
for f in fruits:
    if f=="kiwi":
        pass
print(f)

In [ ]:
def myfun():
    pass

In [ ]:
type(myfun())

In [ ]:
class Test:
    pass

### Nested For loop

#### outer for loop Syntax
```python
for element in sequence: 
    # inner for loop
   for element in sequence:
       body of inner for loop
   body of outer for loop
```

In [ ]:
for i in range(1,20,2):
    print(i, end=' ')

In [ ]:
l1=[[1,2,3],[4,5,6]]

In [ ]:
for i in range(3):
    for j in range(3):
        print(l1[i][j])

In [ ]:
l1=[[[1,2,3],[4,5,6]]]
for i in range(3):
    for j in range(3):
        for k in range(3):
            print(l1[i][j][k])
            print(i,j,k)

In [ ]:
l1=[[1,2,3],[4,5,6]]
for i in range(3):
    for j in range(3):
        print(l1[i][j])
        print(i,j)

In [ ]:
# outer loop
for x in range(1, 11):
    # nested loop
    # to iterate from 1 to 10
    for y in range(1, 11):
        # print multiplication
        print(x * y, end='\t')
    print()

In [ ]:
#Nested Loop to Print Pattern
rows = 10
# outer loop
for i in range(1, rows + 1):
    # inner loop
    for j in range(1, i + 1):
        print("*", end=" ")
    print('')

In [ ]:
#While loop inside a for loop
names = ['Kelly', 'Jessa', 'Emma']
# outer loop
for name in names:
    # inner while loop
    count = 0
    while count < 5:
        print(name, end=' ')
        # increment counter
        count = count + 1
    print()

  ### for loop using The range() Function

In [ ]:
for x in xrange(6):
    print(x)

In [ ]:
# Python code to demonstrate range() vs xrange()
# on basis of return type

# initializing a with range()
a = range(1,10000)

# initializing a with xrange()
x = xrange(1,10000)

# testing the type of a
print ("The return type of range() is : ")
print (type(a))

# testing the type of x
print ("The return type of xrange() is : ")
print (type(x))

In [ ]:
# Python code to demonstrate range() vs xrange()
# on basis of memory

import sys

# initializing a with range()
a = range(1,10000)
print(a)

# initializing a with xrange()
x = xrange(1,10000)

# testing the size of a
# range() takes more memory
print ("The size allotted using range() is : ")
print (sys.getsizeof(a))

# testing the size of x
# xrange() takes less memory
print ("The size allotted using xrange() is : ")
print (sys.getsizeof(x))

### "enumerate" function for "For Loop"
- Enumerate function in "for loop" does two things:
  - • It returns the index number for the member
  - • And the member of the collection that we are looking at

In [ ]:
# Creating a set using string
test_set = set("EduBridge")
print(test_set)
# Iterating using enumerated for loop
for id,val in enumerate(test_set):
    print(id, val)

In [ ]:
#use a for loop over a collection
Months = ["Jan","Feb","Mar","April","May","June"]
for i, m in enumerate (Months):
                        print(i,m)

In [ ]:
str1="Python"
for i,j in enumerate(str1):
    print(i,j)

In [ ]:
import numpy as np

arr1 = np.array([[[2,17], [45, 78]], [[88, 92], [60, 76]],[[76,33],[20,18]]])
print("Create 3-d array:",arr1)

In [ ]:
my_str = "I LOVE PHYTHON"
count = 0
for char in my_str:
    if char == "O":
            continue
    else:
            count = count + 1
print(count)

In [ ]:
my_str = "I LOVE PYTHON"
count = 0
for char in my_str:
    count = count + 1
    if char == "E":
        break
print(count)

In [ ]:
for i in range(5):
    print(i)

In [ ]:
count = 35
for x in range(0,10):
    count = count - 1
    if x == 2:
        break
print(count)

In [ ]:
Z = 1
while Z<5:
    if Z % 7 == 0:
        break
    Z = Z + 2
print(Z)

In [ ]:
my_str = "HI LOVE PHYTHON"
count = 0
for char in my_str:
        if char == "O":
            continue
        else:
             count = count + 1
print(count)

In [ ]:
my_str = "I LOVE PYTHON"
count = 0
for char in my_str:
    count = count + 1
    if char == "E":
            break
print(count)

In [ ]:
for i in xrange(10):
    print(i)

In [ ]:
async def g1():
    yield 1
    yield 2

async def g2():
    async for v in g1():
        yield v
g1()

In [ ]:
count=0
for x in range(1,3):
    
    for y in range(4,6):
        count=count+(x*y)
        print(count)
print(count)

In [ ]:
i = 1  
while True:  
   print(i) 
   i = i + 1  
   if(i > 5):  
        break